extends ./layout.jade

block title
    title CFA formulas

block content
    .container
        .header

            h3.text-muted CFA formulas
        .jumbotron(ng-controller="testQuestions")
            h2 {{chapterName}}
            p.lead {{sessionName}}
            p.lead {{questionIndex + 1}} / {{questionsLength}}
            p.lead#questionField(dynamic='q')
            p#showAnswerButton
                a.btn.btn-lg.btn-success(href='#', id='ok' ng-show="showOK" role='button', ng-click="remove(questionIndex); action()") OK
                a.btn.btn-lg.btn-success(href='#', id='buttonLink' role='button', ng:click="action()") {{actionLabel}}
            div.wrapping#answerField(dynamic='a')
            p#evalButtons

        .row.marketing

        .col-lg-6
            h4 CFA
            p
                | Exam for investment and financial professionals.
        .col-lg-6
            h4 About
            p
                | Webpage delivers simple tool for learning formulas to the exam

        .footer
            p &copy; CFA formulas 2015
